<div class="card">
    <div class="card__content">
        <div class="card__content-element card__content-element-dropdown">
            <div class="element__group">
                <label>Product</label>
                <select class="form__control form__control-dropdown">
                    <option value="001">Select Product</option>
                    <option value="002">Rice</option>
                    <option value="003">Sugar</option>
                    <option value="004">Poridge</option>
                    <option value="005">Bread</option>
                </select>
            </div>
        </div>
        <div class="card__content-element">
            <div class="element__group">
                <label>Quantity</label>
                <input class="form__control">
            </div>
        </div>
        <div class="card__content-element">
            <div class="element__group">
                <label>Price</label>
                <input class="form__control">
            </div>
        </div>
        <div class="card__content-element">
            <div class="element__group">
                <a class="button">Add Product</a>
            </div>
        </div>
    </div>
</div>