<form class="card" [formGroup]="productForm" (ngSubmit)="addProduct()">
    <div class="card__content">
        <div class="card__content-element card__content-element-dropdown">
            <div class="element__group">
                <label>Product</label>
                <select class="form__control form__control-dropdown" formControlName="code" (change)="productChange($event)">
                    <option value="001">Water</option>
                    <option value="002">Rice</option>
                    <option value="003">Sugar</option>
                    <option value="004">Poridge</option>
                    <option value="005">Bread</option>
                </select>
            </div>
        </div>
        <div class="card__content-element">
            <div class="element__group">
                <label>Quantity</label>
                <input class="form__control form__control-input" formControlName="quantity">
            </div>
        </div>
        <div class="card__content-element">
            <div class="element__group">
                <label>Price</label>
                <input class="form__control form__control-input" formControlName="price">
            </div>
        </div>
        <div class="card__content-element">
            <div class="element__group">
                <button class="button" type="submit">Add Product</button>
            </div>
        </div>
    </div>
</form>