.card{
    width: 100%;
    margin: 25px 0;
}

.card__content{
    display: flex;
    justify-content: space-between;
}

.table {
    width: 100%;
    border-collapse: collapse;
}
  
.table thead {
    background-color: #f9f9f9;
}

thead th:first-child {
    width: 15%;
}

.table th, .table td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ccc;
} 

.buttons{
    width: 11%;
}

.buttons__container{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.button{
    padding: 0 10px;
    background: hsla(0, 0%, 90%, 0.882);
    border-radius: 5px;
    cursor: pointer;
}
