<div class="card">
    <div class="card__content">
        <table class="table">
            <thead>
                <tr>
                    <th>{{ translation.translations().saleNumber }}</th>
                    <th>{{ translation.translations().code }}</th>
                    <th>{{ translation.translations().name }}</th>
                    <th>{{ translation.translations().price }}</th>
                    <th>{{ translation.translations().quantity }}</th>
                    <th>{{ translation.translations().total }}</th>
                    <th>{{ translation.translations().action }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of service.productList()">
                    <td>{{item.saleNumber}}</td>
                    <td>{{item.code}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.total}}</td>
                    <td class="buttons">
                        <div class="buttons__container">
                            <a class="button" (click)="updateItemData(item.saleNumber)">{{ translation.translations().edit }}</a>
                            <a class="button" (click)="deleteItem(item.saleNumber)">{{ translation.translations().delete }}</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>