<div class="card">
    <div class="card__content">
        <table class="table">
            <tbody>
                <tr>
                    <td>{{ translation.translations().totalQuantity }}</td>
                    <td>{{service.totalQuantity()}}</td>
                </tr>
                <tr>
                    <td>{{ translation.translations().totalSum }}</td>
                    <td>{{service.totalSum()}}</td>
                </tr>
                <tr>
                    <td>{{ translation.translations().totalTax }}</td>
                    <td>{{service.totalTax()}}</td>
                </tr>
                <tr>
                    <td>{{ translation.translations().totalNet }}</td>
                    <td><b>{{service.totalNet()}}</b></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>